USE [BDCalendario]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 14/11/2025 11:20:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [varchar](20) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[apellido] [varchar](20) NOT NULL,
	[fecha] [varchar](20) NOT NULL,
	[inicio] [varchar](20) NOT NULL,
	[fin] [varchar](20) NOT NULL,
	[title] [varchar](30) NOT NULL,
	[start] [datetime] NOT NULL,
	[end] [datetime] NOT NULL,
 CONSTRAINT [PK_Reservas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Reservas] ON 

INSERT [dbo].[Reservas] ([id], [cedula], [nombre], [apellido], [fecha], [inicio], [fin], [title], [start], [end]) VALUES (1, N'305970145', N'Maria', N'Carvajales', N'2025-11-07', N'08:00:00', N'10:00:00', N'Estudio', CAST(N'2025-11-07T08:00:00.000' AS DateTime), CAST(N'2025-11-07T10:00:00.000' AS DateTime))
INSERT [dbo].[Reservas] ([id], [cedula], [nombre], [apellido], [fecha], [inicio], [fin], [title], [start], [end]) VALUES (2, N'368914528', N'Popeye', N'Curvyl', N'2025-11-08', N'08:00:00', N'11:00:00', N'Venganza', CAST(N'2025-11-08T08:00:00.000' AS DateTime), CAST(N'2025-11-08T11:00:00.000' AS DateTime))
INSERT [dbo].[Reservas] ([id], [cedula], [nombre], [apellido], [fecha], [inicio], [fin], [title], [start], [end]) VALUES (6, N'501140789', N'Greibin', N'Portugués', N'2025-11-10', N'12:00:00', N'13:00:00', N'Almuerzo', CAST(N'2025-11-10T12:00:00.000' AS DateTime), CAST(N'2025-11-10T13:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reservas] OFF
GO
/****** Object:  StoredProcedure [dbo].[validacionFechas]    Script Date: 14/11/2025 11:20:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*declare @fechan varchar(20);
declare @horaInicio varchar(20);
declare @horaFin varchar(20);

set @fechaN = '2025-11-07';
set @horaInicio = '14:30:00';
set @horaFin = '15:40:00';

select * from Reservas where fecha = @fechan and ( (@horaInicio > inicio and @horaInicio < fin) or (@horaFin < fin and @horaFin > inicio) or (@horaInicio < inicio and @horaFin > fin))
*/

create procedure [dbo].[validacionFechas]
(
   @fechan varchar(20),
   @horaInicio varchar(20),
   @horaFin varchar(20)
)
as

begin

  

  select * from Reservas 
  where fecha = @fechan and 
  ( (@horaInicio > inicio and @horaInicio < fin) or 
  (@horaFin < fin and @horaFin > inicio) or 
  (@horaInicio < inicio and @horaFin > fin))

end
GO
